/* 
 * Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com>
*/

/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 14px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: #20262C;
	color: #f1fcf9;
    border-bottom: 2px solid #343A40;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********** Custom ********** **/

#custom-menu {
	background-color: #343A40;
	color: #B4A1DB;
	font-size: 18px;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
	padding: 2px 8px 2px 8px;
}

#custom-power {
	background-color: #D04E9D;
	color: #20262C;
	font-size: 16px;
	border-radius: 10px;
	margin: 6px 6px 6px 0px;
	padding: 2px 8px 2px 8px;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
	background-color: #4BC66D;
	color: #343A40;
	border-radius: 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px;
}
#idle_inhibitor.deactivated {
	background-color: #DB695B;
}

/** ********** Tray ********** **/
#tray {
	background-color: #343A40;
	border-radius: 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	color: #f1fcf9;
	font-size: 12px;
	font-weight: bold;
}
#mpd.disconnected {
	color: #DB86BA;
}
#mpd.stopped {
	color: #E49186;
}
#mpd.playing {
	color: #9EE9EA;
}
#mpd.paused {
}

#mpd.2 {
	border-radius: 10px 0px 0px 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px 4px 10px;
}
#mpd.3 {
	margin: 6px 0px 6px 0px ;
	padding: 4px;
}
#mpd.4 {
	border-radius: 0px 10px 10px 0px;
	margin: 6px 6px 6px 0px ;
	padding: 4px 10px 4px 6px;
}
#mpd.2,#mpd.3,#mpd.4 {
	background-color: #343A40;
	font-size: 14px;
}

/** ********** CPU ********** **/
#cpu {
	color: #DF8293;
}

/** ********** Memory ********** **/
#memory {
	color: #82DF94;
}

/** ********** Disk ********** **/
#disk {
	color: #E5DB8B;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	color: #74DD91;
}
#pulseaudio.bluetooth {
	color: #75DBE1;
}
#pulseaudio.muted {
	color: #DB86BA;
}

#pulseaudio.2 {
}
#pulseaudio.2.bluetooth {
}
#pulseaudio.2.muted {
}

/** ********** Backlight ********** **/
#backlight {
	color: #E49186;
}

/** ********** Battery ********** **/
#battery {
	color: #B4A1DB;
}
#battery.charging {
}
#battery.plugged {
}
@keyframes blink {
    to {
        color: #f1fcf9;
    }
}
#battery.critical:not(.charging) {
	background-color: #343A40;
}
#battery.2.critical:not(.charging) {
	background-color: #3E444A;
    color: #D66586;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Network ********** **/
#network {
	color: #75DBE1;
}
#network.disconnected,#network.disabled {
	color: #DF8293;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Clock ********** **/
#clock {
	color: #9EE9EA;
}

/** ********** Sway ********** **/
#workspaces {
	background-color: #2F333C;
	color: #FFFFFF;
	border-radius: 0px 12px 0px 0px;
	padding: 4px;
}

#workspaces button {
	color: #FFFFFF;
	padding: 2px 6px;
}

#workspaces button:hover {
	background-color: #1B1F28;
	color: #FFFFFF;
	border: 0px solid #1B1F28;
	border-radius: 12px;
	padding: 2px 6px;
}

#workspaces button.visible {
	background-image: linear-gradient(to right, #62AEEF , #98C379);
}

#workspaces button.active {
	background-image: linear-gradient(to right, #E06B74 , #C778DD);
}

#workspaces button.urgent {
	background-image: linear-gradient(to right, #E06B74 , #E5C07A);
}

#workspaces button.persistent {
	background-image: linear-gradient(to right, #E5C07A , #C778DD);
}

#workspaces button.visible,
#workspaces button.active,
#workspaces button.urgent,
#workspaces button.persistent {
	color: #1B1F28;
	border-radius: 12px;
	padding: 2px 6px;
}

#workspaces button.current_output {
}

#workspaces button#sway-workspace-1 {
}

/** ********** Common style ********** **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network {
	background-color: #343A40;
	border-radius: 10px 0px 0px 10px;
	margin: 6px 0px 6px 0px ;
	padding: 4px 6px;
}

#backlight.2, 
#battery.2,
#clock.2,
#cpu.2,
#disk.2,
#memory.2,
#pulseaudio.2,
#network.2 {
	background-color: #3E444A;
	color: #f1fcf9;
	font-size: 12px;
	font-weight: bold;
	border-radius: 0px 10px 10px 0px;
	margin: 6px 6px 6px 0px ;
	padding: 5px 6px 4px 6px;
}
